# -----------------------------------------------------------------------------
# Blk4_UserTimerProgram.yaml
#
# Purpose:
#   ESPHome configuration for reading and decoding machine parameters (Block 4/5/6/7)
#   from a Sabiana VMC controller via Modbus. Provides sensors, binary sensors,
#   and text sensors for various machine parameters, limits, offsets, and settings.
#
# Structure:
#   - text_sensor: User timer program
#   - modbus_controller: Reads and parses the Block 4 register map (address 0x0400)
#
# Notes:
#   - The modbus_controller sensor reads 119 bytes and parses them into the above fields.
#   - Helper functions like readSigned16ToFloat, readBitFromUns16, etc. are assumed to be defined elsewhere.
# -----------------------------------------------------------------------------

substitutions:
  prefixBlk4: "Blk4 - "

# Templates

.raw_user_timer_program: &raw_user_timer_program
  modbus_controller_id: sabiana_vmc_schedules
  register_type: holding
  register_count: 119
  response_size: 238
  internal: true
  value_type: U_WORD
.text_user_timer_program: &text_user_timer_program
  icon: mdi:code-json
  update_interval: never

sensor:
  - platform: modbus_controller
    id: blk4_user_timer_program_1
    name: "${prefixBlk4} User Timer Program 1 Data"
    address: 0x0400
    <<: *raw_user_timer_program
    lambda: |-
      id(blk4_user_timer_program_1_day1).publish_state(parse_user_timer_program(data, 1));
      id(blk4_user_timer_program_1_day2).publish_state(parse_user_timer_program(data, 2));
      id(blk4_user_timer_program_1_day3).publish_state(parse_user_timer_program(data, 3));
      id(blk4_user_timer_program_1_day4).publish_state(parse_user_timer_program(data, 4));
      id(blk4_user_timer_program_1_day5).publish_state(parse_user_timer_program(data, 5));
      id(blk4_user_timer_program_1_day6).publish_state(parse_user_timer_program(data, 6));
      id(blk4_user_timer_program_1_day7).publish_state(parse_user_timer_program(data, 7));
      return data.size() / 2; // Return readed register count

  - platform: modbus_controller
    id: blk4_user_timer_program_2
    name: "${prefixBlk4} User Timer Program 2 Data"
    address: 0x0500
    <<: *raw_user_timer_program
    lambda: |-
      id(blk4_user_timer_program_2_day1).publish_state(parse_user_timer_program(data, 1));
      id(blk4_user_timer_program_2_day2).publish_state(parse_user_timer_program(data, 2));
      id(blk4_user_timer_program_2_day3).publish_state(parse_user_timer_program(data, 3));
      id(blk4_user_timer_program_2_day4).publish_state(parse_user_timer_program(data, 4));
      id(blk4_user_timer_program_2_day5).publish_state(parse_user_timer_program(data, 5));
      id(blk4_user_timer_program_2_day6).publish_state(parse_user_timer_program(data, 6));
      id(blk4_user_timer_program_2_day7).publish_state(parse_user_timer_program(data, 7));
      return data.size() / 2; // Return readed register count

  - platform: modbus_controller
    id: blk4_user_timer_program_3
    name: "${prefixBlk4} User Timer Program 3 Data"
    address: 0x0600
    <<: *raw_user_timer_program
    lambda: |-
      id(blk4_user_timer_program_3_day1).publish_state(parse_user_timer_program(data, 1));
      id(blk4_user_timer_program_3_day2).publish_state(parse_user_timer_program(data, 2));
      id(blk4_user_timer_program_3_day3).publish_state(parse_user_timer_program(data, 3));
      id(blk4_user_timer_program_3_day4).publish_state(parse_user_timer_program(data, 4));
      id(blk4_user_timer_program_3_day5).publish_state(parse_user_timer_program(data, 5));
      id(blk4_user_timer_program_3_day6).publish_state(parse_user_timer_program(data, 6));
      id(blk4_user_timer_program_3_day7).publish_state(parse_user_timer_program(data, 7));
      return data.size() / 2; // Return readed register count

  - platform: modbus_controller
    id: blk4_user_timer_program_4
    name: "${prefixBlk4} User Timer Program 4 Data"
    address: 0x0700
    <<: *raw_user_timer_program
    lambda: |-
      id(blk4_user_timer_program_4_day1).publish_state(parse_user_timer_program(data, 1));
      id(blk4_user_timer_program_4_day2).publish_state(parse_user_timer_program(data, 2));
      id(blk4_user_timer_program_4_day3).publish_state(parse_user_timer_program(data, 3));
      id(blk4_user_timer_program_4_day4).publish_state(parse_user_timer_program(data, 4));
      id(blk4_user_timer_program_4_day5).publish_state(parse_user_timer_program(data, 5));
      id(blk4_user_timer_program_4_day6).publish_state(parse_user_timer_program(data, 6));
      id(blk4_user_timer_program_4_day7).publish_state(parse_user_timer_program(data, 7));
      return data.size() / 2; // Return readed register count

text_sensor:

  # Program 1
  - platform: template
    name: "${prefixBlk4}User timer program 1 - Day 1"
    id: blk4_user_timer_program_1_day1
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 1 - Day 2"
    id: blk4_user_timer_program_1_day2
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 1 - Day 3"
    id: blk4_user_timer_program_1_day3
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 1 - Day 4"
    id: blk4_user_timer_program_1_day4
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 1 - Day 5"
    id: blk4_user_timer_program_1_day5
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 1 - Day 6"
    id: blk4_user_timer_program_1_day6
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 1 - Day 7"
    id: blk4_user_timer_program_1_day7

  # Program 2
  - platform: template
    name: "${prefixBlk4}User timer program 2 - Day 1"
    id: blk4_user_timer_program_2_day1
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 2 - Day 2"
    id: blk4_user_timer_program_2_day2
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 2 - Day 3"
    id: blk4_user_timer_program_2_day3
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 2 - Day 4"
    id: blk4_user_timer_program_2_day4
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 2 - Day 5"
    id: blk4_user_timer_program_2_day5
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 2 - Day 6"
    id: blk4_user_timer_program_2_day6
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 2 - Day 7"
    id: blk4_user_timer_program_2_day7
    <<: *text_user_timer_program

  # Program 3
  - platform: template
    name: "${prefixBlk4}User timer program 3 - Day 1"
    id: blk4_user_timer_program_3_day1
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 3 - Day 2"
    id: blk4_user_timer_program_3_day2
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 3 - Day 3"
    id: blk4_user_timer_program_3_day3
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 3 - Day 4"
    id: blk4_user_timer_program_3_day4
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 3 - Day 5"
    id: blk4_user_timer_program_3_day5
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 3 - Day 6"
    id: blk4_user_timer_program_3_day6
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 3 - Day 7"
    id: blk4_user_timer_program_3_day7
    <<: *text_user_timer_program

  # Program 4
  - platform: template
    name: "${prefixBlk4}User timer program 4 - Day 1"
    id: blk4_user_timer_program_4_day1
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 4 - Day 2"
    id: blk4_user_timer_program_4_day2
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 4 - Day 3"
    id: blk4_user_timer_program_4_day3
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 4 - Day 4"
    id: blk4_user_timer_program_4_day4
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 4 - Day 5"
    id: blk4_user_timer_program_4_day5
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 4 - Day 6"
    id: blk4_user_timer_program_4_day6
    <<: *text_user_timer_program
  - platform: template
    name: "${prefixBlk4}User timer program 4 - Day 7"
    id: blk4_user_timer_program_4_day7
    <<: *text_user_timer_program